SQLSERVER_DRIVER=ODBC Driver 17 for SQL Server
SQLSERVER_SERVER=your_sqlserver_server
SQLSERVER_DATABASE=Ecommerce_Source_DB
SQLSERVER_TRUSTED_CONNECTION=yes

SNOWFLAKE_ACCOUNT=your_org-your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=ECOMMERCE_INGEST_WH
SNOWFLAKE_DATABASE=ECOMMERCE_ANALYTICS_DB
SNOWFLAKE_SCHEMA=RAW_BATCH

LOAD_CHUNK_SIZE=50000